body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(212, 215, 223);
}


header div{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 60px;

}


div img {
   width: 220px; 
   margin-left: 15px;
   margin-top: 5px;
}


.lista-contenitore {
    background-color: rgb(255, 255, 255);
    width: 800px;
    height: 480px;
    border-radius: 15px;
    margin-left: 24%;
    margin-top: 35px;
}